.breathing-room {
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.media {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.team1 {
    color: white;
    background-color: seagreen;
}

.team2 {
    color: white;
    background-color: darkred;
}

.team3 {
    color: white;
    background-color: blue;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  padding-top: 10px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar {
    margin-bottom: 5px;
}

.page-header {
    margin-top: 10px;
}

.alert {
    margin-bottom: 0px;
}