{% extends "layout.html" %}

{% block content %}

<div class="row breathing-room">
    <!-- Eventually I want to make the leading team centered and larger, but I'll probably have to use a flexbox for that.-->
    <div class="col-md-4">
        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
             class="center-block img-circle img-responsive">
        <h2 class="text-center">71.5</h2>
        <h3 class="text-center">Out of Bounds</h3>
        <p class="text-center">Developer</p>
    </div>
    <div class="col-md-4">
        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
             class="center-block img-circle img-responsive">
        <h2 class="text-center">172.5</h2>
        <h3 class="text-center">Null Pointer</h3>
        <p class="text-center">Developer</p>
    </div>
    <div class="col-md-4">
        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
             class="center-block img-circle img-responsive">
        <h2 class="text-center">100</h2>
        <h3 class="text-center">Off by One</h3>
        <p class="text-center">Developer</p>
    </div>
</div>
{% for n in range(0, 10) %}
<div class="row">
    {% if n%2 == 0 %} 
    <div class="media team1">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" alt="..." width="150">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Middle aligned media</h4>
            ...
        </div>
    </div>
    {% else %}
    <div class="media team1">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" alt="..." width="150">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Middle aligned media</h4>
            ...
        </div>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
